<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Root Level of Omnibus API</title>
</head>
<body>
  <header></header>
  <div class="title">An at home Resource for accessing various project databases from one API service</div>
  <div class="content">
    <div class="main">
      <h4>Accessible API's</h4>
      <ul class="contexts nodefault">
        <li>NTT Archive</li>
        <li>Youtube Archive</li>
        <li>General Law Research Archive</li>
        <li>Chancery Research Archive</li>
        <li>Aliens Game System Data</li>
        <li>Phoenix Command Game System Data</li>
      </ul>
    </div>
  </div>
</body>
</html>